.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 17px 40px;
    height: 50px;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links a:hover {
    color: #f2f207;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.login-btn,
.register-btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.login-btn {
    border: 1px solid #ffffff;
    color: white;
}

.login-btn:hover {
    background-color:  #f2f207;
    color: #000000;
}

.register-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.register-btn:hover {
    background-color:  #f2f207;
}
